MANIFEST
build
dist
_build
docsman.gz
docssourceapigenerated
docssourceconfig.rst
docsgh-pages
notebooki18nLC_MESSAGES.mo
notebooki18nLC_MESSAGESnbjs.json
notebookstaticcomponents
notebookstaticstyle.min.css
notebookstaticjsbuilt
notebookstaticbuilt
notebookstaticbuilt
notebookstaticjsmain.min.js
notebookstaticlabbundle.js
node_modules
.py[co]
__pycache__
.egg-info
~
.bak
.ipynb_checkpoints
.tox
.DS_Store
##
.#
.coverage
.pytest_cache
src

.swp
.map
.idea
Read the Docs
config.rst
.iml
.project
.pydevproject

package-lock.json
geckodriver.log
.iml

# jetbrains IDE stuff
.iml
.idea

# ms IDE stuff
.code-workspace
.history
.vscode

# copied changelog
docssourcechangelog.md

.jupyter_releaser_checkout